/*无叠加的样式*/
.container{
	width: 50%;
	overflow: hidden;	
	position: relative;	
	margin: 0 auto;
}
.imageContainer{
	position: relative;
	width: 400%;
	transition: right 0.5s ease-in;
	right: 0%;
	overflow: hidden;
}
.imageContainer > div {
	width: 25%;
	float: left;
}
.imageContainer > div > img {
	width: 100%;
}

/* 有叠加的样式 */
.containerOver{
	width: 1000px;
	height: 400px;
	position: relative;	
	margin: 0 auto;
	overflow: hidden;
}
.imageContainerOver{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: rgba(150,150,150,0.5);
}
.imageContainerOver > img {
	position: absolute;
	opacity: 1;		
	height: 100%;
	transition: left,height,opacity 0.5s,0.5s,0.5s ease-in,ease-in,ease-in;

}

/*统一样式*/
.circle{
	position: absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
	z-index: 100;
}
.circle > div{
	margin-left: 5px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid gray;
	background-color: rgba(96,96,96,0.7);
}
div.active{
	background-color: rgba(255,255,255,0.7);
}